#layout {
  display: flex;
  /* min-height: 100vh; */
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.desktop-layout {
  flex-direction: row;
}

.mobile-layout {
  flex-direction: column;
}

.desktop-layout .layout-content-box {
  flex: 1 1 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .layout-content-box {
    padding-bottom: 0 !important;
  }
}
