.login-and-signup-buttons-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-and-signup-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.login-and-signup-buttons-main {
  display: flex;
  gap: 1rem;
}

.login-and-signup-btn {
  padding: 0.6rem 1.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 45px;
}

.login,
.signup {
  width: 200px;
}

.login-and-signup-btn:hover {
  background-color: var(--hover-bg);
  color: white;
}

.auth-btn-active {
  background-color: var(--primary-color);
  color: white;
}

.google-login-wrapper {
  position: relative;
  width: 410px;
  height: 45px;
  cursor: pointer;
}

.google-custom-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 1;
  box-sizing: border-box;
}

.google-login-wrapper:hover .google-custom-button {
  background-color: var(--hover-bg);
  color: white;
}

.google-real-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 1%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.google-real-button > div,
.google-real-button iframe {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 490px) {
  .login,
  .signup {
    width: 44vw;
  }

  .google-login-wrapper {
    width: 90vw;
  }
}