.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0;
}