@import "variables.css";
@import "typography.css";

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 5s,
    color 5s;
  font-family:
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  scrollbar-width: 3px;
  scrollbar-color: var(--primary-color) var(--bg-color);
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

@media (max-width: 885px) {
  body {
    scrollbar-width: none !important;
  }

  ::-webkit-scrollbar {
    display: none !important;
  }

  html {
    scrollbar-width: none !important;
  }
}
