.gender-group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gender-group input {
  display: none;
}

.gender-group label {
  padding: 1px;
  font-size: 14px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  font-weight: 700;
}

.gender-group label:hover {
  background-color: var(--hover-bg);
  color: white;
}

.gender-group input:checked + label {
  background-color: var(--primary-color);
  color: white;
}

.signup-form-block-password {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.terms-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}

.terms-conditions label {
  cursor: pointer;
}

.terms-link {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: var(--primary-color);
}

.custom-checkbox:checked::after {
  content: "✓";
  position: absolute;
  color: white;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
